:root {
  --main-title-color: #2e2f42;
  --second-title-color: #ffffff;
  --main-btn-color: #404bbf;
  --second-btn-color: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/**-------------------------HEADER Web-site --------------------------*/
.header {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-list {
}
.header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-text:is(:hover, :focus) {
  color: #404bbf;
}

.header-link {
}

.address-list {
}
.visit-list {
}
.contact-link {
}

.header-adress {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header-adress:is(:hover, :focus) {
  color: #404bbf;
}

/**------------------------Efective --------------------------*/
.hero-section-info {
  background: #2e2f42;
}
.text-hero-info {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.btn-hero-info {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-btn-color);
  background: var(--main-btn-color);
  cursor: pointer;
}
.btn-hero-info:is(:hover, :focus) {
  background: var(--main-btn-color);
}
/**------------------------section information--------------------------*/
.features-info-section {
}
.text-features {
}
.features-list-info {
}
.link-info {
}
.text-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.title-info-parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/**-------------------section  what are we doing-------------------------*/
.photo-what-doing {
}
.photo-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

/**----------------------section our team ----------------------*/

.about-team-section {
}
.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.team-list {
}
.link-team {
}
.people-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.title-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**----------------------Footer ----------------------*/
.footer {
  background: var(--main-title-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.title-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
