:root{
 --main-title-color:#2e2f42;
 --second-title-color:#404BBF;
 --main-btn-color:#ffff;
 --second-btn-color:#4d5ae5;
 --main-logo-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/**-------------------------HEADER Potfolio --------------------------*/
.header {
}
.header-logo {
   font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.header-logo-web {
   font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-logo-color);

}

.header-list {
}
 .header-text{
   font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
 }
 .header-text:is(:hover, :focus){
  color: var(--second-title-color);
 }
.header-link {
}

.header-link:is(:hover, :focus){
color: var(--second-title-color);
}

.address-list {
}
.visit-list {
}
.contact-link {
}

.header-adress {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-adress:is(:hover, :focus) {
  color: var(--second-title-color);
} 

/**-------------------------BTN --------------------------*/
.btn-info {
  background-color var(--main-title-color);
}
.text-btn-info{
   
}
.btn-list {
}
.btn-links {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--main-btn-color);
  background: var(--second-btn-color);
  cursor: pointer;
}
.btn-links:is(:hover, :focus) {
  background: var(--second-title-color) ;
}
.btn-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--main-btn-color);
  background: var(--second-btn-color);
  cursor: pointer;
}
/**-----------------------PHOTO WITH TEXT --------------------------*/
.photo-information {
}
.img-link {
}
.photo-text-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.title-photos {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

/**----------------FOOTER-----------------------*/
.footer {
  background: var(--main-title-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
   text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo-web{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-logo-color);

}

.footer-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
